.country-item {
  border-bottom: 1px solid #334155;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 20px;
}

.visited {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 15px;
  margin-right: 28px;
}

.btn {
  color: #ffffff;
  font-family: 'Roboto';
  background-color: #3b82f6;
  border: 0px solid transparent;
  border-radius: 3px;
  padding: 5px;
  width: 60px;
  height: 31px;
  outline: none;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}
